
.hide {
    display: none;
}

.show {
    display: block;
    position: absolute;
    left: 31vw;
    top: 0vh;
    background-color: gray;
    padding: 40px;
    border-style: solid;
    border-radius: 20px;
    min-width: 20vw;
}

.form-label {
    display: block;
    /*text-align: left;*/
    padding: 10px;
}